<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Consultas</title>

<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

<!--  estos no tengo en el proyecto -->
<link th:rel="stylesheet" th:href="@{/css/tempusdominus-bootstrap-4.min.css}"/>
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		
<!--  estos no tengo en el proyecto -->
<script th:src="@{/js/moment.min.js}"></script>		
<script th:src="@{/js/tempusdominus-bootstrap-4.min.js}"></script>
<link rel="stylesheet" type="text/css" href="css/estilos.css">

</head>
<body class="bg">

<div class="container">

	<div th:insert="layout/header :: header"></div>
	

	<h3 class="text-center titulo-h3">Consultas de Personas testeadas</h3>
	<br>
	<div class="alert alert-primary">
		Día   - Total de personas testeadas:   - Positivos:  / Negativos: 
	</div>

	<div class="row">	
	<div class="col-md-7">
		<div class="card">
			<div class="card-header">Buscar por Direccion</div>
			<div class="card-body">		
			<form>						

			<div class="form-group row">
				<label for="direccio" class="col-sm-3 col-form-label">Dirección</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="direccio" placeholder="Calle, Nº, Piso, Depto.">
				</div>
			</div>

			<div class="form-group row">
				<label for="barrio" class="col-sm-3 col-form-label">Barrio</label>
				<div class="col-sm-9">
				<select class="form-control" id="barrio">
					<option selected>Seleccionar barrio...</option>
        			<option>Centro</option>
        			<option>Azopardo</option>
        			<option>Ciudad de Nieva</option>
        			<option>Chijra</option>
        			<option>Cuyaya</option>
				</select>
				</div>
			</div>

			<div class="form-group row">
				<label for="dia" class="col-sm-3 col-form-label">Desde</label>
				<div class="col-sm-5 col-6">
					<input type="date" class="form-control" id="dia">
				</div>
				<div class="col-sm-4 col-6">
					<input type="time" class="form-control" id="ora">
				</div>
			</div>
			
			<div class="form-group row">
				<label for="dia" class="col-sm-3 col-form-label">Hasta</label>
				<div class="col-sm-5 col-6">
				<input type="date" class="form-control" id="dia">
				</div>
				<div class="col-sm-4 col-6">
				<input type="time" class="form-control" id="ora">
				</div>
			</div>
			<div class="form-group row justify-content-around">
				<button type="reset" class="btn btn-sm btn-primary col-4"><i class="fas fa-broom"></i>Limpiar</button>
				<button type="submit" class="btn btn-sm btn-primary col-4"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>                
			</div>					
		</form>
					</div>
		</div><!--fi card-->
		</div>
		

		<div class="col-md-5">
		<div class="card">
			<div class="card-header">
				Buscar por DNI o Apellido
			</div>
			<div class="card-body">
			<form>
			<div class="form-group row">
				<label for="di" class="col-4 col-form-label">DNI</label>
				<div class="col-8">
				<input type="number" class="form-control" id="di">
				</div>
			</div>
			<div class="form-group row">
				<label for="apellido" class="col-4 col-form-label">Apellido</label>
				<div class="col-8">
				<input type="text" class="form-control" id="apellido">
				</div>
			</div>
			<div class="form-group row justify-content-around">
				<button type="reset" class="btn btn-sm btn-primary col-4"><i class="fas fa-broom"></i>Limpiar</button>
				<button type="button" class="btn btn-sm btn-primary col-4"><i class="fa fa-search" aria-hidden="true"></i> Buscar
				</button>                
			</div>
		</form>
			</div>
		</div>
		</div>
		</div><!--fi forlarios-->

		<br>
		<table class="table table-bordered table-hover">
			<thead class="thead-dark">
				<tr>
					<th>DNI</th>
					<th>Apellido</th>
					<th>Nombre/s</th>
					<th>Resltado</th>
					<th>Dirección</th>
					<th>Barrio</th>
				</tr>
			</thead>
			<tbody class="table-light">
				<tr>
					<td scope="row"></td>
					<td>2222222</td>
					<td>arsdfsdfs</td>
					<td>342342424</td>
					<td>sdgfsdfgdf</td>
					<td>wrsdf</td>
				</tr>
				<tr>
					<td scope="row"></td>
					<td>2222222</td>
					<td>arsdfsdfs</td>
					<td>342342424</td>
					<td>sdgfsdfgdf</td>
					<td>wrsdf</td>
				</tr>
				<tr>
					<td scope="row"></td>
					<td>2222222</td>
					<td>arsdfsdfs</td>
					<td>342342424</td>
					<td>sdgfsdfgdf</td>
					<td>wrsdf</td>
				</tr>
			</tbody>
		</table>

		<div th:insert="layout/footer :: footer"></div>

	</div>
</body>
</html>