<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf8">
<title>Inicio de sesión</title>

<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<link rel="stylesheet" href="css/estilos.css">

</head>
<body class="bg">
	
	<div class="container">
		<div th:insert="layout/header :: header"></div>
		<div class="col-md-4 col-sm-8 col-xs-12"></div>
			<div class="col-md-4 col-sm-8 col-xs-12">
		<center><form class="form-contenedor" th:object="${usuarioDelForm}" th:action="@{/login}"
			method="post">
			<h2>Iniciar sesión</h2>
			<div class="form-group">
				<label for="userName">Nombre de Usuario</label> <input type="text" class="form-control"
					id="userName" aria-describedby="nombreHelp" placeholder="Ingrese Nombre de Usuario"
					name="userName"> 
			</div>
			<div class="form-group">
				<label for="password">Contraseña</label> <input type="password"
					class="form-control" id="password" placeholder="Password"
					name="password">
			</div>
			<button type="submit" class="btn btn-primary">Ingresar</button>
			<div class="alert-danger text-center"
				th:if="${formLoginErrorMessage}" th:text="${formLoginErrorMessage}">Name
				Error</div>
		

		<div th:if="${param.error}" class="alert alert-danger" role="alert">
			Combinación invalida de Usuario y Contraseña</div>
		<div th:if="${param.logout}" class="alert alert-success" role="alert">
			Ha salido del Sistema. Gracias!</div>
			</form></center>
		<div class="col-md-4 col-sm-8 col-xs-12"></div>
		
	
	</div>
</body>
<div th:insert="layout/footer :: footer"></div>
</html>