<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registrador</title>

<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

<!--  estos no tengo en el proyecto -->
<link th:rel="stylesheet" th:href="@{/css/tempusdominus-bootstrap-4.min.css}"/>
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		
<!--  estos no tengo en el proyecto -->
<script th:src="@{/js/moment.min.js}"></script>		
<script th:src="@{/js/tempusdominus-bootstrap-4.min.js}"></script>
<link rel="stylesheet" type="text/css" href="css/estilos.css">

</head>
<body class="bg">

	<div class="container">

	<div th:insert="layout/header :: header"></div>


	<h3 class="text-center titulo-h3">Registros de Personas testeadas</h3>
		<br>		
		<div class="row">	
			<div class="col-md-6 offset-md-3">
			<div class="card">
				<div class="card-header text-center">Registro de testeo</div>
				<div class="card-body">		
			<form>						

			<div class="form-group row">
				<label for="direccio" class="col-sm-3 col-form-label">Dirección</label>
				<div class="col-sm-9">
				<input type="text" class="form-control" id="direccio" placeholder="Calle, Bº, Piso, Depto.">
				</div>
			</div>

			<div class="form-group row">
				<label for="barrio" class="col-sm-3 col-form-label">Barrio</label>
				<div class="col-sm-9">
				<select class="form-control" id="barrio">
					<option selected>Seleccionar barrio...</option>
        			<option>...</option>
				</select>
				</div>
			</div>

			<div class="form-group row justify-content-around">
				<button type="reset" class="btn btn-danger col-3"><i class="fas fa-broom"></i>Limpiar</button>
				<button type="button" class="btn btn-success" data-toggle="modal" data-target="#staticBackdrop">
					<i class="fas fa-save"></i> Agregar Persona
				</button>
			</div>					
		</form>
		</div>
		</div><!--fi card-->
	</div>
</div><!--fi forlario-->		

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Datos Personales</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
			<label for="direccio" class="col-sm-3 col-form-label">DNI</label>
			<div class="col-sm-9">
			<input type="text" class="form-control" id="direccio" placeholder="Nro. de DNI">
			</div>
		</div>
		<div class="form-group row">
			<label for="direccio" class="col-sm-3 col-form-label">Apellidos</label>
			<div class="col-sm-9">
			<input type="number" class="form-control" id="direccio" placeholder="Apellido(s)">
			</div>
		</div>
		<div class="form-group row">
			<label for="direccio" class="col-sm-3 col-form-label">Nombres</label>
			<div class="col-sm-9">
			<input type="text" class="form-control" id="direccio" placeholder="Nombre(s)">
			</div>
		</div>
		<div class="form-group row">
			<label for="direccio" class="col-sm-4 col-form-label">Resultado</label>
			<div class="col-sm-8 row">			
				<div class="form-check col-5">
				<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
				<label class="form-check-label" for="gridRadios1">
					Positivo
				</label>
				</div>
				<div class="form-check col-5">
				<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
				<label class="form-check-label" for="gridRadios2">
					Negativo
				</label>
				</div>						
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-broom"></i> Limpiar</button>
        <button type="button" class="btn btn-success"><i class="fas fa-save"></i> Agregar</button>
      </div>
    </div>
  </div>
</div>

		<br>
		<section class="tabla">
		<table class="table table-bordered table-hover">
			<thead class="thead-dark">
				<tr>
					<th scope="row">DNI</th>
					<th>Apellido</th>
					<th>Nombres</th>
					<th>Resultado</th>
					<th>Dirección</th>
					<th>Barrio</th>
				</tr>
			</thead>
			<tbody class="table-light">
				<tr>
					<td scope="row"></td>
					<td>2222222</td>
					<td>arsdfsdfs</td>
					<td>342342424</td>
					<td>sdgfsdfgdf</td>
					<td>wrsdf</td>
				</tr>
				<tr>
					<td scope="row"></td>
					<td>2222222</td>
					<td>arsdfsdfs</td>
					<td>342342424</td>
					<td>sdgfsdfgdf</td>
					<td>wrsdf</td>
				</tr>
				<tr>
					<td scope="row"></td>
					<td>2222222</td>
					<td>arsdfsdfs</td>
					<td>342342424</td>
					<td>sdgfsdfgdf</td>
					<td>wrsdf</td>
				</tr>
			</tbody>
		</table>
		</section>
		<div th:insert="layout/footer :: footer"></div>
	</div>


	
</body>
</html>