<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

<!--  estos no tengo en el proyecto -->
<link th:rel="stylesheet" th:href="@{/css/tempusdominus-bootstrap-4.min.css}"/>
<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.11.2/css/all.css} "/>
<link rel="stylesheet" type="text/css" href="css/estilos.css">

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		
<!--  estos no tengo en el proyecto -->
<script th:src="@{/js/moment.min.js}"></script>		
<script th:src="@{/js/tempusdominus-bootstrap-4.min.js}"></script>

<meta charset="utf-8">
<title>Formulario Usuarios</title>
	
</head>
<body class="bg">
	<div class="container">

	<div th:insert="layout/header :: header"></div>

		
		<div class="tab-content">
			<div class="tab-pane fade show" id="formulario"	th:classappend="${formTab}" role="tabpanel"	aria-labelledby="formulario-tab">
				<div class="card">
					<div class="card-header text-center">
						<h4>Registrar Nuevo Usuario</h4>
					</div>
					<div class="card-body">
						<form class="form" role="form" autocomplete="off" th:object="${usuarioDelForm}" th:action="${editMode}?@{/editarUsuario}:@{/usuarioForm}" method="post">
						
						<!-- es necesario para pasar la validacion -->							
						<input class="form-control" type=hidden th:field="${usuarioDelForm.id}" th:if="${editMode}">
						<input class="form-control" type=hidden th:field="${usuarioDelForm.password}" th:if="${editMode}">
						<input class="form-control" type=hidden th:field="${usuarioDelForm.tipoUsuario}" th:if="${editMode}">
	
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">Nombre de Usuario:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text"	th:field="${usuarioDelForm.nombreUsuario}">
											<div class="alert-danger" th:if="${#fields.hasErrors('nombreUsuario')}" th:errors="*{nombreUsuario}">Name Error</div>
										</div>
									</div>

									<div class="form-group row" th:if="${editMode==null or editMode==false}">
										<label class="col-lg-3 col-form-label form-control-label">Contraseña</label>
										<div class="col-lg-9">
											<input class="form-control" type="password"	th:field="${usuarioDelForm.password}">
											<div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-lg-3 col-form-label form-control-label">Nombre Real:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text" th:field="${usuarioDelForm.nombreReal}">
										</div>
									</div>

									<div class="form-group row" >
										<label class="col-lg-3 col-form-label form-control-label">Apellido Real:</label>
										<div class="col-lg-9">
											<input class="form-control" type="text"	th:field="${usuarioDelForm.apellidoReal}">
											
										</div>
									</div>
								</div>
								<div class="form-group row col-md-6 m-auto" th:if="${editMode==null or editMode==false}">
										<div class="col-md-4 col-form-label form-control-label mt-3">
										<label>Tipo de Usuario:</label>
										</div>
										<div class="col-md-6">
											<div class="form-check">
												<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1"
													th:field="${usuarioDelForm.tipoUsuario}" value="registrador"	checked="checked"> 
													<label class="form-check-label"	for="gridRadios1">Registrador</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="consultor"
													th:field="${usuarioDelForm.tipoUsuario}"> 
													<label	class="form-check-label" for="gridRadios2">Consultor</label>
											</div>
											<div class="form-check">
												<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="bd"
													th:field="${usuarioDelForm.tipoUsuario}"> 
													<label	class="form-check-label" for="gridRadios3">Base de Datos</label>
											</div>
											<div class="alert-danger" th:if="${#fields.hasErrors('tipoUsuario')}" th:errors="*{tipoUsuario}">Name	Error</div>
										</div>
									</div>
								</div>
								
							</div>
							<div class="form-group row">
								<div class="col-lg-12 text-center">
									
									<button type="button" class="btn btn-sm btn-success col-2 m-3" data-toggle="modal" data-target="#modalAgregar"><i class="fas fa-save"></i> Guardar</button>
								</div>
								
							</div>
							<div class="alert-danger text-center" th:if="${formUsuarioErrorMessage}" th:text="${formUsuarioErrorMessage}">Name Error</div>
							
							<!-- Modal Agregar -->
							<div class="modal fade" id="modalAgregar" tabindex="-1"	role="dialog" aria-labelledby="agregarModalTitulo"	aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="agregarModalTitulo"><i class="fas fa-check-square"></i> Confirme Agregar Usuario</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body"><h6>¿Esta seguro que desea agregar/modificar este usuario?</h6></div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"	data-dismiss="modal">Cerrar</button>
											<input type="submit" class="btn btn-primary" value="Save Changes"  th:value="${editMode}?'Guardar Usuario':'Crear Usuario'">
										</div>
									</div>
								</div>
							</div>

						</form>

					</div>
				</div>
			</div>
			<div class="tab-pane fade show" id="lista" role="tabpanel" th:classappend="${listTab}" aria-labelledby="lista-tab">
				<div class="card">
					<div class="card-header text-center">
						<h4>Listado de Usuarios</h4>
					</div>
					<div class="card-body">
						<table id="userList" class="table table-bordered table-hover">
							<thead class="thead-dark">
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Nombre de Usuario</th>
									<th scope="col">Nombre</th>
									<th scope="col">Apellido</th>
									<th scope="col">Tipo</th>
								</tr>
							</thead>
							<tbody class="table-light">
								<tr th:each="usuario : ${listaUsuarios}">
									<td th:text="${usuario.id}"></td>
									<td th:text="${usuario.nombreUsuario}"></td>
									<td th:text="${usuario.nombreReal}"></td>
									<td th:text="${usuario.apellidoReal}"></td>
									<td th:text="${usuario.tipoUsuario}"></td>
									<td><a href="#" th:href="@{'/editarUsuario/'+${usuario.id}}">
									<i class="fa fa-edit"></i></a> | 
									<a href="#" th:onclick="'javascript:confirmarEliminar(\''+${usuario.id}+'\');'"><i class="fa fa-trash-alt"></i>
									</a></td>
								</tr>
							</tbody>
						</table>
						<div class="alert-danger text-center" th:if="${listUsuarioErrorMessage}" th:text="${listUsuarioErrorMessage}">Name Error</div>
						
						<!-- Script -->
<script type="text/javascript">
function confirmarEliminar(id){
	$('#modalEliminar').modal('show');
	$("#identificadorUsuarioHiddenInput").val(id);
}

function eliminarUsuario(){
	var id = $("#identificadorUsuarioHiddenInput").val();
    window.location = "eliminarUsuario/"+id;
}
</script>
						
						
						<!-- Modal Eliminar -->
							<div class="modal fade" id="modalEliminar" tabindex="-1"	role="dialog" aria-labelledby="eliminarModalTitulo"	aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="eliminarModalTitulo">Confirmar Eliminar</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body"><h6>Esta seguro que desea eliminar este usuario?</h6></div>
										<input type="hidden" id="identificadorUsuarioHiddenInput" name="userIdHiddenInput"/>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"	data-dismiss="modal">Cerrar</button>
											<button type="button" class="btn btn-primary" th:onclick="eliminarUsuario()">Borrar</button>
										</div>
									</div>
								</div>
							</div>
						
						
					</div>
				</div>
			</div>
			<div th:insert="layout/footer :: footer"></div>
		</div>

	

	</div>

</body>
</html>