<!DOCTYPE html>
<html>
<head>
	<meta charset="utf8">
	<title>Unidad Habitacional</title>
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
	
	<div th:insert="layout/header :: header"></div>
	
	<h1>GESTION DE ESTADIOS</h1>
	<form>
	  <div class="form-group row">
	    <label for="idUserName" class="col-md-3 col-form-label">Nombre de Usuario</label>
	    <div class="col-md-9">
	      <input type="text" class="form-control" id="idUserName">
	    </div>
	  </div>
	   <div class="form-group row">
	    <label for="idPassword" class="col-md-3 col-form-label">Password</label>
	    <div class="col-md-9">
	      <input type="password" class="form-control" id="idPassword">
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="idNombre" class="col-md-3 col-form-label">Nombre Real</label>
	    <div class="col-md-9">
	      <input type="text" class="form-control" id="idNombre">
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="idApellido" class="col-md-3 col-form-label">Apellido</label>
	    <div class="col-md-9">
	      <input type="number" class="form-control" id="idApellido">
	    </div>
	  </div>
	  <div class="form-group row">
	    <label for="idTipo" class="col-md-3 col-form-label">Tipo de Usuario</label>
	    <div class="col-md-9">
	      <input type="text" class="form-control" id="idTipo">
	    </div>
	  </div>  
	  
	  <div class="form-group row">
	    <div class="col-md-10">
	      <button type="submit" class="btn btn-primary">Agregar</button>
	    </div>
	  </div>
	</form>
	
	<h1>Listado de Usuarios</h1>
	<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">Username</th>
		      <th scope="col">Password</th>
		      <th scope="col">Apellido</th>
		      <th scope="col">Nombre</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      
		    </tr>		   
		  </tbody>
		</table>
	</div>
	
	<div th:insert="layout/footer :: footer"></div>
	
	<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}" type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
	<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}" type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
	<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}" type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	
</body>
</html>